/* Importa a fonte Chakra Petch do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: #081b29;
    font-family: "Chakra Petch", sans-serif;
    margin: 0;
    overflow: hidden;
}

header {
    position: fixed;
    top: 0;
    width: 80%;
    padding: 20px 5%;
    height: 60px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    overflow-x: hidden;
}


.name {
    position: relative;
    font-size: 25px;
    color: #d8d46c;
    text-decoration: none;
    font-weight: 600;
}

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar a {
    font-size: 18px;
    color: #d8d46c;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #de6f7f;
}

/*
.header-content {
    display: flex; /*Organiza a imagem e o texto lado a lado
    align-content: center; /*Centraliza verticalmente
    justify-content: space-between; /*Distribui espaço entre os blocos
    gap: 0px; /*Espaçamento entre a imagem e o texto
}
*/

/* Estiliza o corpo da página */
.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    height: 100vh;
    font-family: "Chakra Petch", sans-serif;
}

.profile-image {
    flex: 1.5;
    max-width: 430px; /*Limita o tamanho máximo da imagem */
    width: 250px;
    aspect-ratio: 1/1; 
    border-radius: 30%; /* Define bordas arredondadas */
    overflow: hidden;
    margin-right: 2rem;
}  
  
.profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.7rem;
    color: #d8d46c;
    margin-bottom: 0.2rem;
    margin-top: 0.3rem;
    
    animation:
        typing 3.5s steps(30, end),
        blink-caret .75s step-end infinite;

    overflow: hidden;
    border-right: .15em solid #d8d46c;
    white-space: nowrap;
}

.home-content h2 {
    font-size: 1.6rem;
    color: #de6f7f;
    margin-bottom: 0.2rem;
    margin-top: 0.2rem;

    animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;

    overflow: hidden;
    border-right: .15em solid #d8d46c;
    white-space: nowrap;
    
}

.home-content h3 {
    font-size: 1.3rem;
    color: #de6f7f;
    margin-bottom: 0.2rem;
    margin-top: 0.1rem;

    animation:
    typing 3.5s steps(30, end),
    blink-caret .75s step-end infinite;

    overflow: hidden;
    border-right: .15em solid #d8d46c;
    white-space: nowrap;
}

.paragraph {
    color: #d8d46c;
    font-size: 1rem;
}

/* Estiliza as seções da página */
section {
    display: flex; /* Usa Flexbox para layout */
    flex-direction: column; /* Alinha os itens na vertical */
    align-items: center; /* Centraliza os itens horizontalmente */
    margin-bottom: 3rem; /* Espaçamento abaixo de cada seção */
    justify-content: space-between;
}

/* Estiliza os inputs dentro das seções */
section input {
    width: 200px; /* Largura dos inputs */
    border: none; /* Remove a borda padrão */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 1.5rem; /* Borda arredondada */
    margin-bottom: 1rem; /* Espaçamento abaixo dos inputs */
    color: #45474B; /* Cor do texto */
    font-size: 1rem; /* Tamanho da fonte */
    box-sizing: border-box; /* Inclui padding e border na largura total */
}

/* Estiliza os botões dentro das seções */
section button {
    margin-top: 80px;
    width: 200px;
    padding: 0.8rem 4rem; /* Espaçamento interno do botão */
    border: none; /* Remove a borda padrão */
    border-radius: 1.5rem; /* Borda arredondada */
    background-color: #072541; /* Cor de fundo do botão */
    color: #ffffff; /* Cor do texto do botão */
    font-size: 1rem; /* Tamanho da fonte */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

/* Adiciona efeito hover ao botão de pesquisa */
section button:hover {
    background-color: #3c6489; /* Muda a cor de fundo ao passar o mouse */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra mais intensa */
}

.buttons-align {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    padding: 1rem;
}

/* Estiliza a caixa de resultados da pesquisa */
.resultados-pesquisa {
    width: 60rem; /* Largura máxima da caixa de resultados */
    height: 46vh; /* Altura máxima da caixa de resultados */
    margin-top: 2rem; /* Espaçamento acima da caixa de resultados */
    padding: 1rem; /* Espaçamento interno */
    border-radius: 0.6rem; /* Borda arredondada */
}

/* Estiliza cada item de resultado */
.item-resultado {
    display: flex;
    align-items: center;
    background: #FFFFFF; /* Cor de fundo dos itens */
    border-radius: 0.6rem; /* Borda arredondada */
    padding: 1rem; /* Espaçamento interno */
    margin-bottom: 1rem; /* Espaçamento abaixo dos itens */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

.imagem-projeto {
    width: 150px;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1;
    margin-right: 1rem;
    border-radius: 50%
}

.info-projeto {
    flex: 1;
}

/* Estiliza os títulos dentro dos itens de resultado */
.item-resultado h2 {
    font-size: 1.5rem; /* Tamanho da fonte */
    color: #222831; /* Cor do texto */
}

/* Estiliza os links dentro dos itens de resultado */
.item-resultado a {
    text-decoration: none; /* Remove o sublinhado padrão dos links */
    color: #30475E; /* Cor do texto dos links */
}

/* Estiliza os links quando são passados o mouse sobre */
.item-resultado a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse */
}

/* Estiliza a descrição meta dentro dos itens de resultado */
.descricao-meta {
    color: #45474B; /* Cor do texto */
    margin: 0.5rem 0; /* Margem acima e abaixo */
}

.icon-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.icon-container a {
    color: #d8d46c;
    font-size: 25px;
    transition: transform 0.3;
}

.icon-container a:hover {
    transform: scale(1.5); /*Animação com mouse*/
    color: #de6f7f; /*Cor com mouse*/
}

/* Estiliza o rodapé da página */
footer {
    position: fixed; /* Posiciona o rodapé */
    bottom: 0; /* Alinha ao fundo da página */
    width: 100%; /* Largura total da página */
    padding: 1rem; /* Espaçamento interno */
    height: 60px;
    background: transparent; /* Cor de fundo do rodapé */
    color: #FFFFFF; /* Cor do texto */
    text-align: center; /* Alinha o texto ao centro */
    font-size: 1rem; /* Tamanho da fonte */
}

/* Animação */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* efeito cursor */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #d8d46c; }
}

/*Responsividade*/
@media (max-width: 768px) {
    body {
        overflow: scroll;
    }
    
    .home{
        flex-direction: column;
        padding: 0 5%;
    }

    .home-content h1{
        font-size: 2rem;
    }

    .home-content h2{
        font-size: 1.5rem;
    }

    
    .home-content h3{
        font-size: 1.5rem;
    }

}

@media (max-width: 480px) {
    body {
        overflow: scroll;
    }

    .home-content h1 {
        font-size: 1.8rem;
    }
}